###################################################
# +---------------------------------------------+ #
# |             Database Connection             | #
# +---------------------------------------------+ #
###################################################

# CAUTION! Developer mode will drop all database tables on startup. DO NOT USE IN PRODUCTION.
developer-mode: false

# Database connection settings.
mysql:
  host: localhost
  port: 3306
  username: unitedpolitics
  password: unitedpolitics
  database: unitedpolitics

###################################################
# +---------------------------------------------+ #
# |              New Day Scheduling             | #
# +---------------------------------------------+ #
###################################################

# How long a day lasts (in real time) until reputation decay is applies. Can't be more than 
# 24 real-life hours or less than 1 real-life minute. Use d, h, m and s as units.
new-day-interval: 1d
# If the new day interval is 1d, this is the hour of the day (UTC) at which the new day is started.
# If the interval is less than 1d, this option is ignored and the interval is started from the last
# reboot of the server.
# Must be a number between 0 and 23.
new-day-start-hour: 12


###################################################
# +---------------------------------------------+ #
# |   Settings for reputation actions & events  | #
# +---------------------------------------------+ #
###################################################

# Whether reputation changes on one level will also change reputation on higher or lower levels.
# Each consecutive level will be multiplied by the factor. Example: with upward passthrough of 0.5,
# a town reputation change of +10 will propagate to +5 for the region and +2.5 for the nation.
# With downward passthrough of 0.1, a nation reputation change of -50 will propagate to -5 for
# all regions and -0.5 for all towns.
rep-passthrough-up:
  enabled: true
  factor: 0.5
rep-passthrough-down:
  enabled: true
  factor: 0.5

settings:
  # Paying tribute to a town, region or nation
  tribute:
    # How much reputation will be given per unit of currency (default: 1 for 10,000)
    reputationPerMoneyUnit: 0.0001
    # If supported, log entry messages for the economy plugin
    moneyLogReasonSource: "Paid tribute to "
    moneyLogReasonTarget: "Tribute paid by "

  # Killing an player of a different town
  killed:
    # Should deaths change reputation
    enabled: true
    # Ignore deaths in these worlds
    blacklisted-worlds:
      - sample_world
    # Amount of reputation loss for the kill
    amount: -5

  # ************
  # Integrations
  # ************

  # Towny
  townscreen:
    enabled: true
    after-component: "founder"
    content-observer: "<dark_green>Their opinion of us: {score}"
    content-subject: "<dark_green>Our opinion of them: {score}"
    details: "<dark_green>Click for more information</dark_green>"
  nationscreen:
    enabled: true
    after-component: "capital"
    content-observer: "<dark_green>Their opinion of us: {score}"
    content-subject: "<dark_green>Our opinion of them: {score}"
    details: "<dark_green>Click for more information</dark_green>"

  # UnitedTrade
  ut-trade-complete:
    # Give extra money for high reputation
    reputation-bonus:
      enabled: true
      # The minumum reputation to receive a bonus
      minimum: 50
      # The reputation above which the bonus is not scaled anymore
      limit: 100
      # The multiplier
      # Example: With minmum 50 and limit 100, at a reputation of 75, the bonus
      # will be 0.5 (75 is halfway between 50 and 100) * 0.5 (factor) = 0.25, so
      # an additional 25% of of the original payment.  At 100 reputation, the
      # bonus will be 1 * 0.5 = 0.5, so an additonal 50%.
      factor: 0.5
      # The reason that will be displayed to the player
      reason: "High reputation with the trader"

  # UnitedWar
  uw-warred-us:
    enabled: true
    # In nation wars, this penalty is applied to the defending nation (and towns if passthrough-down is enabled).
    # In town wars, this penalty is applied to the defending town.
    amount: -200
  # Reputation penalty for warring a town that someone is friends with
  uw-warred-friend:
    enabled: true
    # The reputation needed for a town to be considered a friend
    threshold: 100
    # The penalty
    amount: -100
  # Reputation penalty for warring a town that someone is enemies with
  uw-warred-enemy:
    enabled: true
    # The reputation needed for a town to be considered an enemy
    threshold: -100
    # The bonus
    amount: 100

  # UnitedDungeons
  ud-looted-hostile-dungeon:
    # The penalty
    amount: 5
  ud-looted-friendly-dungeon:
    # The penalty
    amount: -5

# +---------------------------------------------+ #
# |            Record definitions               | #
# +---------------------------------------------+ #

record-definitions:
  # UnitedPolitics default dynamic reputation records
  paid-tribute:
    description: "They paid tribute to us"
    low-cap: -25
    high-cap: 25
    decay: 1
  killed-member:
    description: "They killed one of us"
    low-cap: -100
    high-cap: 0
    decay: 1
  likes-kills:
    description: "They killed someone"
    low-cap: 0
    high-cap: 25
    decay: -1
  dislikes-kills:
    description: "They killed someone"
    low-cap: -25
    high-cap: 0
    decay: 1

  # UnitedPolitics default static reputation records
  our-town:
    description: "Our town"
    low-cap: 0
    high-cap: 50
    decay: 0
    default: 50
  same-region:
    description: "Same region"
    low-cap: 0
    high-cap: 50
    decay: 0
    default: 50
  our-region:
    same-region:
    description: "Our region"
    low-cap: 0
    high-cap: 50
    decay: 0
    default: 50
  same-nation:
    same-region:
    description: "Same nation"
    low-cap: 0
    high-cap: 50
    decay: 0
    default: 50
  our-nation:
    same-region:
    description: "Our nation"
    low-cap: 0
    high-cap: 50
    decay: 0
    default: 50

  # Rivalry
  # Static
  our-rival: 
    description: "They are our rival"
    low-cap: -100
    high-cap: 0
    decay: 0
    default: -100
  our-rivals-rival: 
    description: "They are our rival's rival"
    low-cap: 0
    high-cap: 50
    decay: 0
    default: 50
  our-rivals-partner: 
    description: "They are our rival's partner"
    low-cap: -50
    high-cap: 0
    decay: 0
    default: -50
  our-partner: 
    description: "They are our rival"
    low-cap: 0
    high-cap: 100
    decay: 0
    default: 100
  our-partners-rival: 
    description: "They are our partner's rival"
    low-cap: -50
    high-cap: 0
    decay: 0
    default: -50
  our-partners-partner: 
    description: "They are our partner's partner"
    low-cap: 0
    high-cap: 0
    decay: 0
    default: 50
  # Dynamic
  helped-rival:
    description: "They helped a rival"
    low-cap: -100
    high-cap: 0
    decay: 1
  hurt-rival:
    description: "They disgruntled a rival"
    low-cap: 100
    high-cap: 0
    decay: -1
  helped-partner:
    description: "They helped a rival"
    low-cap: 100
    high-cap: 0
    decay: -1
  hurt-partner:
    description: "They disgruntled a partner"
    low-cap: -100
    high-cap: 0
    decay: 1
  # UnitedTrade integration reputation records
  ut-trade-complete:
    description: "They completed trade orders"
    low-cap: 0
    high-cap: 25
    decay: -2
  ut-trade-failed:
    description: "They failed trade orders"
    low-cap: -25
    high-cap: 0
    decay: 2
  uw-likes-trade:
    description: "They are traders"
    low-cap: 0
    high-cap: 50
    decay: -2
  uw-dislikes-trade:
    description: "They are traders"
    low-cap: -50
    high-cap: 0
    decay: 2
  # UnitedWar integration reputation records
  # Static
  uw-enemy-in-war:
    description: "Enemy in ongoing war"
    low-cap: -200
    high-cap: 0
    decay: 0
    default: -200
  uw-ally-in-war:
    description: "Ally in ongoing war"
    low-cap: 0
    high-cap: 200
    decay: 0
    default: 200
  # Dynamic
  uw-warred-us:
    description: "They warred us"
    low-cap: -200
    high-cap: 0
    decay: 2
  uw-warred-friend:
    description: "They warred a friend"
    low-cap: -200
    high-cap: 0
    decay: 2
  uw-warred-enemy:
    description: "They warred an enemy"
    low-cap: 0
    high-cap: 200
    decay: -2
  uw-likes-war:
    description: "They warred someone"
    low-cap: 0
    high-cap: 50
    decay: -2
  uw-dislikes-war:
    description: "They warred someone"
    low-cap: -50
    high-cap: 0
    decay: 2
  # UnitedDungeons integration reputation records
  ud-looted-hostile-dungeon:
    description: "They looted a hostile place"
    low-cap: 0
    high-cap: 50
    decay: -1
  ud-looted-friendly-dungeon:
    description: "They looted a friendly place"
    low-cap: -50
    high-cap: 0
    decay: 1

# +---------------------------------------------+ #
# |            Default event keys               | #
# +---------------------------------------------+ #

event-keys:
  - PAID_TRIBUTE
  - KILLED_PLAYER
  - TRADE_COMPLETE
  - TRADE_FAILED
  - WAR_DECLARED

# +---------------------------------------------+ #
# |       Special integration mechanics         | #
# +---------------------------------------------+ #

integration-mechanics:
  UnitedTrade:
    # Disallow picking up trade orders if reputation with NPC town is below minimum defined by the trade point
    use-minimum-town-reputation: true
    # Disallow picking up trade orders if reputation with NPC nation is below minimum defined by the trade point
    use-minimum-nation-reputation: true
    minimum-fail-message: "<red>You can't use this, your reputation with {name} is too low (needs to be at least {minimum}).</red>"

# +---------------------------------------------+ #
# |                 Messages                    | #
# +---------------------------------------------+ #

messages:
  prefix: "<bold><red>U</red><white>L</white> Politics <dark_gray>» </dark_gray></bold>"
  reload: "<green>Plugin reloaded.</green>"
  forced-new-day: "<green>Forced exeution of new day.</green>"

  reputation-changed: "<gray>Reputation - {prefix} <gold><bold>{name}</bold>: {modifier}</gray>"

  usages:
    reputation:
      create:
        - "Usage: /upa reputation create <nation_A | town_A> <nation_B | town_B> <key> <value>"
        - "<gray>Creates a reputation score for B with A with key <em>key</em> and value <em>value</em>.</gray>"
      set:
        - "Usage: /upa reputation set <nation_A | town_A> <nation_B | town_B> <key> <value>"
        - "<gray>Sets the reputation score <em>key</em> of A with B to a new value."
      add:
        - "Usage: /upa reputation add <nation_A | town_A> <nation_B | town_B> <key> <amount>"
        - "<gray>Adds <em>amount</em> to a reputation score <em>key</em> of B with A.</gray>"
      remove:
        - "Usage: /upa reputation remove <nation_A | town_A> <nation_B | town_B> <key>"
        - "<gray>Removes a reputation score <em>key</em> for B with A.</gray>"
    actorprofile:
      create:
        - "Usage: /upa actorprofile create <actor>"
        - "<gray>Creates a new actor profile for the provided entity.</gray>"
      edit:
        - "Usage: /upa actorprofile edit <actor>"
        - "<gray>Edit the actor profile for the provided entity.</gray>"
    reaction:
      create:
        - "Usage: /upa actorprofile reaction create <actor> <event_key> <reputation_record_key> <amount>"
        - "<gray>Creates a new reaction for the actor profile, meaning they will react towards the triggering entity with <em>amount</em> of reputation change in the specified <em>reputation_record_key</em> when an event with <em>event_key</em> happens.</gray>"
      remove:
        - "Usage: /upa actorprofile reaction remove <actor> <event_key>"
        - "<gray>Removes a reaction from the actor profile.</gray>"
    rival:
      add:
        - "Usage: /upa actorprofile rival add <actor> <rival_name>"
        - "<gray>Adds the entity to the actor's list of rivals.</gray>"
      remove:
        - "Usage: /upa actorprofile rival remove <actor>  <rival_name>"
        - "<gray>Removes a rival from the actor profile.</gray>"
    partner:
      add:
        - "Usage: /upa actorprofile partner add <actor> <rival_name>"
        - "<gray>Adds the entity to the actor's list of partners.</gray>"
      remove:
        - "Usage: /upa actorprofile partner remove <actor>  <rival_name>"
        - "<gray>Removes a partner from the actor profile.</gray>"
    hostiledungeon:
      add:
        - "Usage: /upa actorprofile hostiledungeon add <actor> <dungeon_name>"
        - "<gray>Adds the dungeon to the actor's list of hostile dungeons.</gray>"
      remove:
        - "Usage: /upa actorprofile hostiledungeon remove <actor> <dungeon_name>"
        - "<gray>Removes a hostile dungeon from the actor profile.</gray>"
    friendlydungeon:
      add:
        - "Usage: /upa actorprofile friendlydungeon add <actor> <dungeon_name>"
        - "<gray>Adds the dungeon to the actor's list of friendly dungeons.</gray>"
      remove:
        - "Usage: /upa actorprofile friendlydungeon remove <actor> <dungeon_name>"
        - "<gray>Removes a friendly dungeon from the actor profile.</gray>"
    opinion:
        - "Usage: /opinion <town/nation> <target_town/target_nation>"
        - "<gray>Shows the opinion details of a town / nation about a target town / nation.</gray>"

  errors:
    general:
      geopol-obj-not-found: "<red>'{obj-name}' not found.</red>"
      number-format-error: "<red>'{input}' is not a valid number.</red>"
      db-save-error: "<red>Error while saving.</red>"
      no-town-resident: "<red>You're not a resident in any town.</red>"
      no-rank: "<red>You don't have the necessary rank to use this.</red>"

    reputation:
      no-record: "<red>Reputation record not found, use create first.</red>"
      existing-record: "<red>A record with that key already exists, use set, add or remove instead."

    actorprofile:
      no-profile: "<red>This actor doesn't have a profile yet, use <em>create</em> to create one."
      existing-record: "<red>A profile for that actor already exists."
      reaction-exists: "<red>There aready is a record with this event key and reaction."
      reaction-missing: "<red>No record with the given event key found."
      rival-exists: "<red>There aready is a record with this rival."
      rival-missing: "<red>No record with the given rival found."
      partner-exists: "<red>There aready is a record with this partner."
      partner-missing: "<red>No record with the given partner found."
      dungeon-not-found: "<red>No dungeon with that name found."
      dungeon-exists: "<red>There aready is a record with this dungeon."
      dungeon-missing: "<red>No record with the given dungeon found."

    opinion:
      no-town: "<red>You must be in a town to use this command without a target. Use \"/opinion <town/nation> <target_town/target_nation>\"</red>"
      target-not-found: "<red>Target {target} not found.</red>"

  success:
    reputation:
      create: "<dark_green>Created reputation entry of {modifier} for {subject-name} with {observer-name} for key {key}."
      add: "<dark_green>Added {modifier} to reputation of {subject-name} with {observer-name} for key {key}."
      set: "<dark_green>Set reputation of {subject-name} with {observer-name} to {modifier} for key {key}."
      remove: "<dark_green>Removed reputation of {subject-name} with {observer-name} for key {key}."
    actorprofile:
      create: "<dark_green>Created actor profile for {actor-name}."
      saved: "<dark_green>Saved changes for {actor-name}."

  actorprofile:
    header: "<bold><gold>{name}'s Actor Profile</gold></bold>"
    reactions-header: "<gray>[ Reactions ]<st>                                       </st></gray>"
    reactions-line: "<gray>{event-key} -> <aqua>{record-key}</aqua>: {amount}</gray>"
    rivals-header: "<red>[ Rivals ]<st>                                         </st></red>"
    rivals-line: "<red>{rival}</red>"
    partners-header: "<green>[ Partners ]<st>                                       </st></green>"
    partners-line: "<green>{partner}</green>"
    hostiledungeons-header: "<dark_red>[ Hostile Dungeons ]<st>                                </st></dark_red>"
    hostiledungeons-line: "<dark_red>{dungeon}</dark_red>"
    friendlydungeons-header: "<dark_green>[ Friendly Dungeons ]<st>                                </st></dark_green>"
    friendlydungeons-line: "<dark_green>{dungeon}</dark_green>"

  tribute:
    usage: "<gray>Usage: /t paytribute <receiver> <amount></gray>. Will give you reputation with the receiver in exchange for money (1 point per 10,000, capped at +25)"
    success: "<green>You've paid a tribute of {amount} to {target-name}.</green>"
    same-entity: "<red>You can't pay tribute to yourself.</red>"
    is-own-nation: "<red>You can't pay tribute to your own nation.</red>"
    same-nation: "<red>You can't pay tribute to a town in your own nation.</red>"
    insufficient-funds: "<red>You don't have enough money.</red>"
    error: "<red>Something went wrong while trying to pay {amount} to {target-name}. Please contact an Admin or open a support ticket.</red>"

  reputation-info-header:
    - "<red><strikethrough>+|✦                         </strikethrough><bold>[<white> Reputation </white>]</bold><strikethrough>                          |✦+</strikethrough></red>"
    - "<gold>Your town's reputation scores:</gold>"
  reputation-info-empty: "<gray><em>Your town doesn't have any reputation with anyone</em></gray>"
  reputation-info-entry: "<gray><gold><bold>{prefix} {subject-name}</bold></gold>: {score}</gray>"
  reputation-entry-footer:
    - '<gray>Type "/t reputation <name>" to see details.</gray>'
    - "<red><strikethrough>+|✦                                 +✦+                                 |✦+</strikethrough></red>"

  reputation-details-header:
    - "<red><strikethrough>+|✦                         </strikethrough><bold>[<white> Reputation </white>]</bold><strikethrough>                          |✦+</strikethrough></red>"
    - "<gold>Your town's reputation with {subject-name}:</gold>"
  reputation-details-empty: "<gray><em>You don't have any reputation with {subject-name}.</em></gray>"
  reputation-details-entry: "<gray><bold>{description}</bold>: {score} ({decay} per day)</gray>"
  reputation-details-footer:
    - "<red><strikethrough>+|✦                                 +✦+                                 |✦+</strikethrough></red>"

  opinion-details-header:
    - "<red><strikethrough>+|✦                           </strikethrough><bold>[<white> Opinion </white>]</bold><strikethrough>                            |✦+</strikethrough></red>"
    - "<gold>{observer-name}'s opinion of {subject-name}:</gold>"
  opinion-details-empty: "<gray><em>They don't have any opinion of {subject-name}.</em></gray>"
  opinion-details-entry: "<gray><bold>{description}</bold>: {score} ({decay} per day)</gray>"
  opinion-details-footer:
    - "<red><strikethrough>+|✦                                 +✦+                                 |✦+</strikethrough></red>"
